#!/usr/bin/env python3

PACKAGE = "waypoints_follower_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("rotate_dist_threshold", double_t, 1, "Rotate distance threshold", 0.01, 0.0, 1.0)

gen.add("linear_kp", double_t, 1, "Linear KP", 0.01, 0.0, 1.0)
gen.add("linear_ki", double_t, 1, "Linear KI", 0.0, 0.0, 1.0)
gen.add("linear_kd", double_t, 1, "Linear KD", 0.0, 0.0, 1.0)

gen.add("angular_kp", double_t, 1, "Angular KP", 0.001, 0.0, 1.0)
gen.add("angular_ki", double_t, 1, "Angular KI", 0.0, 0.0, 1.0)
gen.add("angular_kd", double_t, 1, "Angular KD", 0.0, 0.0, 1.0)

gen.add("smoothing_k", double_t, 1, "Smoothing coefficient", 0.2, 0.0, 0.9)

exit(gen.generate(PACKAGE, "waypoints_follower_control", "WFC"))